@font-face {
  font-family: 'Free Set';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/FreeSetDemiC.woff2') format('woff2');
}

@font-face {
  font-family: 'Free Set';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/FreeSetBoldC.woff2') format('woff2');
}

@font-face {
  font-family: 'Free Set';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('fonts/FreeSetExtraBoldC.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/Roboto-Medium.woff2') format('woff2');
}
